/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Nunito", cursive;
  --primary-color: #3a2620; /* dark brown */
  --secondary-color: #aa9581; /* light brown */
}

/* Global styles */

body {
  font-family: var(--primary-font);
  padding-top: 57.15px; /* pushes the top of the header down under fixed navbar */
}

section {
  margin: 40px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
}
